*{
    padding: 0;
    margin: 0;
}

html body{
    height: 100%;
}


main{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    background: linear-gradient(to bottom, rgb(90, 178, 226), rgb(8, 43, 95));
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    font-size: larger;
    font-weight: 50;
    
}

#LogoUsuario{
    min-height: 30vh;
    display: flex;
    padding-left: 25px;
    padding-top: 35px;
    

}

#logocit{
    margin-right: 5px;
}


#Usuarioimglog{
    display: flex;
    height: 30px;
    width: 30px;
    padding-left: 2px;
    padding-top: 6px;
}

#Contenido{
    flex-direction: column;
    text-align: end;
    justify-content: center;
    align-items: center;
}

#welcom{
    color: whitesmoke;
    font-size: xx-large;
    padding-right: 35px;
    margin-right: 70px;

}

#Conttext{
    color: whitesmoke;
    font-size: x-large;
    padding: 35px;
    margin-right: 70px;
    
    
}
#Saldodisp{
    text-align: center;
    padding: 25px;
    font-size: larger;
}

#Cta{
    padding: 7px;
}

#Sld{
    padding: 7px;
}

#bot{
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 70px;
}


#bot :hover{
    background-color: rgb(255, 255, 255);
}

.botonopciones{
    padding: 16px;
    margin: 20px;
    font-size: medium;
    color: rgb(15, 117, 172);
    border-radius: 10%;
    width: 20vh;
    cursor: pointer;
    background-color: rgb(227, 224, 224);
    align-items: center;
    justify-content: center;
}


footer{
    display: flex;
    min-height: 20vh;
    width: 100%;
    background: rgb(6, 41, 93);
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    justify-content: end;
}



#footus{
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.botonsalir{
    padding: 16px;
    margin-right: 20px;
    font-size: medium;
    color: rgb(15, 117, 172);
    border-radius: 10%;
    width: 20vh;
    cursor: pointer;
    background-color: rgb(227, 224, 224);
}

#footus :hover{
    background-color: rgb(255, 255, 255);
}