*{
    padding: 0;
    margin: 0;
}

html body{
    height: 100%;
}


main{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    background: linear-gradient(to bottom, rgb(90, 178, 226), rgb(8, 43, 95));
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    font-size: larger;
    font-weight: 50;
    
}

#LogoUsuario{
    min-height: 30vh;
    display: flex;
    padding-left: 25px;
    padding-top: 35px;
    

}

#logocit{
    margin-right: 5px;
}


#Usuarioimglog{
    display: flex;
    height: 30px;
    width: 30px;
    padding-left: 2px;
    padding-top: 6px;
}




footer{
    display: flex;
    min-height: 20vh;
    width: 100%;
    background: rgb(6, 41, 93);
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    justify-content: end;
}

#contenidodep{
    flex-direction: column;
    font-size: x-large;
    text-align: center;
    
}

#ingcont{
    padding: 15px;
}

#User{
    background: linear-gradient(to bottom, rgb(51, 120, 158), rgb(12, 60, 130));
    color: whitesmoke;
    padding: 18px;
    font-size: medium;
    min-width: 400px;
    border-radius: 24px;
}

#bot{
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#bot :hover{
    background-color: rgb(255, 255, 255);
}

.botonopciones{
    padding: 16px;
    margin: 20px;
    font-size: medium;
    color: rgb(15, 117, 172);
    border-radius: 10%;
    width: 20vh;
    cursor: pointer;
    background-color: rgb(227, 224, 224);
    align-items: center;
    justify-content: center;
}



#footus{
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.botonsalir{
    padding: 16px;
    margin-right: 20px;
    font-size: medium;
    color: rgb(15, 117, 172);
    border-radius: 10%;
    width: 20vh;
    cursor: pointer;
    background-color: rgb(227, 224, 224);
}

#footus :hover{
    background-color: rgb(255, 255, 255);
}